/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  text-decoration: none;
  list-style: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
@media screen and (max-width: 1200px) {
  .container {
    padding: 0 5%;
  }
}

.button {
  background-color: rgb(32, 99, 99);
  width: 150px;
  color: white;
  border-radius: 8px;
  height: 40px;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
}
.button:hover {
  background-color: transparent;
  color: rgb(32, 99, 99);
  border: 1px solid rgb(32, 99, 99);
}

.card {
  width: 90%;
  border-radius: 8px;
  padding: 8px;
  margin: 20px 0;
  transition: all 0.5s;
  cursor: pointer;
}
.card:hover {
  color: rgb(39, 49, 66);
  background-color: rgba(0, 0, 0, 0.149);
  border: 1px solid rgba(0, 0, 0, 0.149);
}

.cards {
  transition: all 0.5s;
  width: 40%;
  border-radius: 8px;
  padding: 8px;
  margin: 20px 0;
  cursor: pointer;
}
.cards img {
  position: relative;
  top: 5px;
}
@media screen and (max-width: 1100px) {
  .cards {
    width: 70%;
  }
}
@media screen and (max-width: 922px) {
  .cards {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .cards {
    width: 100%;
  }
}
.cards:hover {
  background-color: rgb(247, 247, 247);
}

.top-input {
  display: flex;
  position: relative;
}
.top-input .top-input-1 input {
  width: 420px;
  padding: 10px 0;
  border-radius: 5px;
  border: none;
  outline: none;
  padding-left: 10px;
  padding-right: 25px;
}
.top-input .search {
  position: absolute;
  right: 33%;
  top: 17%;
}
@media screen and (max-width: 1100px) {
  .top-input {
    display: none;
  }
}

.top-input-footer .top-input-1 {
  position: relative;
}
.top-input-footer .top-input-1 input {
  width: 420px;
  padding: 10px 0;
  border-radius: 5px;
  border: none;
  outline: none;
  padding-left: 10px;
  padding-right: 25px;
}
.top-input-footer .top-input-1 .fa-solid {
  position: absolute;
  top: 8px;
  right: 10px;
  z-index: 1;
}
@media screen and (max-width: 767px) {
  .top-input-footer .top-input-1 {
    display: none;
  }
}

header .header {
  background-color: rgb(0, 120, 120);
  padding: 10px 0;
}
header #header-section-1 {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header #header-section-1 .fa-solid {
  color: white;
}
header #header-section-1 .fa-solid a {
  color: rgba(255, 255, 255, 0.75);
  font-size: 12px;
  padding: 5px;
}
header #header-section-1 nav ul {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
header #header-section-1 nav ul li a {
  color: rgba(255, 255, 255, 0.75);
}
@media screen and (max-width: 767px) {
  header #header-section-1 nav {
    display: none;
  }
}
header #header-section-1 .fa-solid.fa-bars {
  display: none;
}
@media screen and (max-width: 767px) {
  header #header-section-1 .fa-solid.fa-bars {
    display: block;
  }
}
header #header-section-2 .header-section-2-top {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 767px) {
  header #header-section-2 .header-section-2-top {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
header #header-section-2 .header-section-2-top p {
  color: rgb(0, 0, 0);
  font-size: 50px;
  font-family: "Palanquin Dark", sans-serif;
}
header #header-section-2 .header-section-2-top .top-icon {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
@media screen and (max-width: 767px) {
  header #header-section-2 .header-section-2-top .top-icon {
    display: none;
  }
}
header #header-section-2 .header-section-2-top .top-icon a {
  color: rgb(39, 49, 66);
  transition: all 0.5s;
}
header #header-section-2 .header-section-2-top .top-icon a:hover {
  background-color: rgb(255, 247, 247);
  padding: 10px 20px;
  border-radius: 5px;
}
header #header-section-2 .header-section-2-top .top-icon .top-icon-3 .fa-solid.fa-bag-shopping {
  color: rgba(162, 159, 159, 0.241);
}
header #header-section-2 .header-section-2-bottom {
  padding: 20px 0;
}
header #header-section-2 .header-section-2-bottom nav ul {
  display: flex;
  -moz-column-gap: 8%;
       column-gap: 8%;
}
@media screen and (max-width: 767px) {
  header #header-section-2 .header-section-2-bottom nav ul {
    display: block;
    text-align: center;
    line-height: 60px;
  }
}
header #header-section-2 .header-section-2-bottom nav ul li a {
  color: rgb(39, 49, 66);
  transition: all 0.5s;
}
header #header-section-2 .header-section-2-bottom nav ul li a:hover {
  background-color: rgb(255, 247, 247);
  padding: 10px 20px;
  border-radius: 5px;
}

footer #footer {
  background-color: rgb(247, 247, 247);
}
footer #footer .footer {
  padding: 20px 0;
}
footer #footer .footer .footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
footer #footer .footer .footer-top p {
  font-size: 40px;
  font-weight: 700;
}
footer #footer .footer .bottomLine {
  border-bottom: 3px solid rgba(39, 49, 66, 0.15);
  width: 100%;
}
footer .footer-middle {
  display: flex;
  margin-top: 50px;
  -moz-column-gap: 30%;
       column-gap: 30%;
}
footer .footer-middle .middle-1 {
  width: 50%;
  line-height: 30px;
}
footer .footer-middle .middle-1 p {
  width: 300px;
  color: rgba(54, 54, 54, 0.75);
}
footer .footer-middle .middle-1 div a {
  color: rgba(54, 54, 54, 0.75);
}
footer .footer-middle .footer-bottom {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
  line-height: 30px;
  width: 50%;
}
footer .footer-middle .footer-bottom .footer-bottom-1 nav ul li a {
  color: rgba(54, 54, 54, 0.75);
}
footer .footer-middle .footer-bottom .footer-bottom-1 p {
  font-size: 20px;
  font-weight: 700;
}
@media screen and (max-width: 767px) {
  footer .footer-middle .footer-bottom {
    display: block;
  }
}
@media screen and (max-width: 922px) {
  footer .footer-middle {
    display: block;
    width: 50%;
    position: relative;
    left: 30%;
  }
}

#home-section-1 {
  background-color: rgb(255, 226, 224);
}
#home-section-1 .home-section-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#home-section-1 .home-section-1 .home-section-1-left {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
#home-section-1 .home-section-1 .home-section-1-left .left-text-1 {
  color: rgb(223, 66, 68);
  font-weight: 500;
  font-family: "Rubik", sans-serif;
  font-size: 24px;
}
#home-section-1 .home-section-1 .home-section-1-left .left-text-2 {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 40px;
}
#home-section-1 .home-section-1 .home-section-1-left .left-text-3 {
  color: rgba(33, 33, 33, 0.75);
  width: 300px;
}
#home-section-1 .home-section-1 .home-section-1-left .section-1-left-image {
  position: relative;
  top: 90px;
}
@media screen and (max-width: 767px) {
  #home-section-1 .home-section-1 .home-section-1-right {
    position: relative;
    right: 15%;
    left: -5%;
  }
}
@media screen and (max-width: 1200px) {
  #home-section-1 .home-section-1 {
    display: flex;
    flex-direction: column-reverse;
  }
  #home-section-1 .home-section-1 .image {
    display: none;
  }
}

#home-section-2 {
  background-color: rgb(247, 247, 247);
  padding: 20px 0;
}
#home-section-2 .home-section-2 {
  display: flex;
  -moz-column-gap: 100px;
       column-gap: 100px;
}
#home-section-2 .home-section-2 a {
  position: relative;
  top: -20px;
  color: rgb(39, 49, 66);
}
@media screen and (max-width: 1200px) {
  #home-section-2 .home-section-2 {
    display: block;
    text-align: center;
  }
  #home-section-2 .home-section-2 .image-text-1 {
    position: relative;
    left: -3%;
  }
  #home-section-2 .home-section-2 .image-text-2 {
    position: relative;
    left: -2%;
  }
  #home-section-2 .home-section-2 .image-text-3 {
    position: relative;
  }
  #home-section-2 .home-section-2 .image-text-4 {
    position: relative;
    right: -1%;
  }
  #home-section-2 .home-section-2 .image1 {
    position: relative;
    left: -10%;
  }
  #home-section-2 .home-section-2 .image2 {
    position: relative;
    left: -12%;
  }
  #home-section-2 .home-section-2 .image3 {
    position: relative;
    left: -9%;
  }
  #home-section-2 .home-section-2 .image4 {
    position: relative;
    left: -7%;
  }
}

.home-section-3 {
  display: flex;
  margin: 5% 0;
  -moz-column-gap: 4%;
       column-gap: 4%;
}
.home-section-3 .section-3-picture {
  background-color: rgb(247, 247, 247);
}
.home-section-3 .section-3-picture p {
  position: relative;
  top: 25%;
  left: 10%;
  font-weight: 700;
  font-size: 18px;
}
@media screen and (max-width: 1200px) {
  .home-section-3 .section-3-picture {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 20px;
  }
}
@media screen and (max-width: 1200px) {
  .home-section-3 {
    display: block;
    align-items: center;
    justify-content: center;
  }
}

.home-section-4 {
  padding: 30px 0;
}
.home-section-4 .section-4-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home-section-4 .section-4-top p {
  font-size: 36px;
  font-weight: 700;
}

.section-4-bottom {
  margin: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-4-bottom .box-1,
.section-4-bottom .box-2,
.section-4-bottom .box-3 {
  background-color: rgb(247, 247, 247);
}
@media screen and (max-width: 922px) {
  .section-4-bottom .box-1,
.section-4-bottom .box-2,
.section-4-bottom .box-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 20px 0;
  }
}
@media screen and (max-width: 767px) {
  .section-4-bottom .box-1,
.section-4-bottom .box-2,
.section-4-bottom .box-3 {
    display: block;
    text-align: center;
  }
}
.section-4-bottom .box-1-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 922px) {
  .section-4-bottom .box-1-top {
    display: none;
  }
}
.section-4-bottom .star {
  line-height: 20px;
  padding: 5%;
  width: 260px;
}
@media screen and (max-width: 767px) {
  .section-4-bottom .star {
    position: relative;
    left: 20%;
  }
}
.section-4-bottom .star p {
  width: 90%;
}
.section-4-bottom .star div {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.section-4-bottom .star div .text-1 {
  color: rgb(247, 81, 69);
  font-weight: 700;
}
.section-4-bottom .star div .text-2 {
  color: rgba(54, 54, 54, 0.75);
}
@media screen and (max-width: 922px) {
  .section-4-bottom {
    display: block;
  }
}

#home-section-5 {
  background-color: rgb(255, 247, 247);
  padding: 20px 0;
}
#home-section-5 .section-4-top {
  padding: 30px 0;
}
#home-section-5 .box-1,
#home-section-5 .box-2,
#home-section-5 .box-3 {
  background-color: white;
}
#home-section-5 button {
  background-color: white;
}

#footer-end {
  padding: 20px;
}
#footer-end .footer-end {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#footer-end .footer-end .section-end-2 {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}/*# sourceMappingURL=main.css.map */