$header-color: rgba(0, 120, 120, 1);
$header-text: rgba(255, 255, 255, 0.75);
$color-white:white;
$color-black:rgba(0, 0, 0, 1);
$color-input: rgba(247, 249, 252, 1);
$color-black-text: rgba(39, 49, 66, 1);
$page-2:rgba(255, 226, 224, 1);
$color-red:rgba(223, 66, 68, 1);
$color-left-text-black: rgba(33, 33, 33, 0.75);
$color-gray:rgba(247, 247, 247, 1);
$color-red-2: rgba(247, 81, 69, 1);
$color-gray-rgba: rgba(54, 54, 54, 0.75);
$color-pink:rgba(255, 247, 247, 1);
$color-solid: rgba(39, 49, 66, 0.15);


